:root {
  --color-neutral: 213, 209, 230;
  --color-neutral-50: 248, 246, 252;
  --color-neutral-100: 235, 232, 245;
  --color-neutral-200: 213, 209, 230;
  --color-neutral-300: 190, 186, 217;
  --color-neutral-400: 155, 150, 180;
  --color-neutral-500: 118, 113, 148;
  --color-neutral-600: 81, 76, 115;
  --color-neutral-700: 60, 58, 88;
  --color-neutral-800: 48, 52, 70;
  --color-neutral-900: 26, 23, 48;

  --color-primary-50: 249, 247, 252;
  --color-primary-100: 242, 238, 249;
  --color-primary-200: 229, 221, 242;
  --color-primary-300: 211, 198, 234;
  --color-primary-400: 192, 168, 232;
  --color-primary-500: 167, 141, 212;
  --color-primary-600: 142, 120, 180;
  --color-primary-700: 117, 99, 148;
  --color-primary-800: 92, 78, 117;
  --color-primary-900: 67, 56, 85;

  --color-secondary-50: 246, 247, 252;
  --color-secondary-100: 236, 240, 250;
  --color-secondary-200: 218, 224, 244;
  --color-secondary-300: 194, 204, 236;
  --color-secondary-400: 160, 180, 229;
  --color-secondary-500: 132, 153, 217;
  --color-secondary-600: 112, 130, 184;
  --color-secondary-700: 92, 107, 152;
  --color-secondary-800: 73, 84, 119;
  --color-secondary-900: 53, 61, 87;
}
