@font-face {
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Sans Hebrew Bold"), local("IBMPlexSansHebrew-Bold"), url("../woff2/IBMPlexSansHebrew-Bold.woff2") format("woff2"), url("../woff/IBMPlexSansHebrew-Bold.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: 200;
  src: local("IBM Plex Sans Hebrew ExtraLight"), local("IBMPlexSansHebrew-ExtraLight"), url("../woff2/IBMPlexSansHebrew-ExtraLight.woff2") format("woff2"), url("../woff/IBMPlexSansHebrew-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: 300;
  src: local("IBM Plex Sans Hebrew Light"), local("IBMPlexSansHebrew-Light"), url("../woff2/IBMPlexSansHebrew-Light.woff2") format("woff2"), url("../woff/IBMPlexSansHebrew-Light.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Hebrew Medium"), local("IBMPlexSansHebrew-Medium"), url("../woff2/IBMPlexSansHebrew-Medium.woff2") format("woff2"), url("../woff/IBMPlexSansHebrew-Medium.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans Hebrew"), local("IBMPlexSansHebrew"), url("../woff2/IBMPlexSansHebrew-Regular.woff2") format("woff2"), url("../woff/IBMPlexSansHebrew-Regular.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans Hebrew SemiBold"), local("IBMPlexSansHebrew-SemiBold"), url("../woff2/IBMPlexSansHebrew-SemiBold.woff2") format("woff2"), url("../woff/IBMPlexSansHebrew-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: 450;
  src: local("IBM Plex Sans Hebrew Text"), local("IBMPlexSansHebrew-Text"), url("../woff2/IBMPlexSansHebrew-Text.woff2") format("woff2"), url("../woff/IBMPlexSansHebrew-Text.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: 100;
  src: local("IBM Plex Sans Hebrew Thin"), local("IBMPlexSansHebrew-Thin"), url("../woff2/IBMPlexSansHebrew-Thin.woff2") format("woff2"), url("../woff/IBMPlexSansHebrew-Thin.woff") format("woff");
}